<footer class="footer-section">
  <div class="container">
    <div class="footer-content">
      <div class="footerlinks">
        <div class="footer-links-left">
          <div class="footer-links-frame">
            <span class="semibold24px neutral-white-color">
              Nightwatch
            </span>
            <div class="footer-sub-links">
              <a class="footer-links regular16px neutral-white-color" href="<%= baseUrl %>/about/">About</a>
              <a class="footer-links regular16px neutral-white-color" href="https://nightwatchjs.org/blog/">
                Blog
              </a>
              <a class="footer-links regular16px neutral-white-color" href="https://nightwatch.substack.com/">
                Newsletter
              </a>
              <a class="footer-links regular16px neutral-white-color" href="<%= baseUrl %>/about/contribute/">
                How to contribute
              </a>
              <a class="footer-links regular16px neutral-white-color" href="<%= baseUrl %>/guide/overview/whats-new.html#releases-container">
                Release History
              </a>
            </div>
          </div>
          <div class="footer-links-frame">
            <span class="semibold24px neutral-white-color">
              Resources
            </span>
            <div class="footer-sub-links">
              <a class="footer-links regular16px neutral-white-color" href="<%= baseUrl %>/about/">
                Community Resources
              </a>
              <a class="footer-links regular16px neutral-white-color" href="https://github.com/nightwatchjs/nightwatch/issues" rel="noreferrer" target="_blank">
                Report Issues
              </a>
              <a class="footer-links regular16px neutral-white-color" href="https://github.com/nightwatchjs/nightwatch/discussions" rel="noreferrer" target="_blank">
                Github Discussions
              </a>
              <a class="footer-links regular16px neutral-white-color" href="https://stackoverflow.com/questions/tagged/nightwatch.js" rel="noreferrer" target="_blank">
                Stack Overflow
              </a>
              <a class="footer-links regular16px neutral-white-color" href="https://discord.gg/SN8Da2X" rel="noreferrer" target="_blank">
                Chat with us on Discord
              </a>
            </div>
          </div>
          <div class="footer-links-frame">
            <span class="semibold24px neutral-white-color">
              Get Started
            </span>
            <div class="footer-sub-links">
              <a class="footer-links regular16px neutral-white-color" href="<%= baseUrl %>/guide/overview/what-is-nightwatch.html">
                What is Nightwatch?
              </a>
              <a class="footer-links regular16px neutral-white-color" href="<%= baseUrl %>/guide/quickstarts/create-and-run-a-nightwatch-test.html#setup-nightwatch">
                Set up Nightwatch
              </a>
              <a class="footer-links regular16px neutral-white-color" href="<%= baseUrl %>/guide/quickstarts/create-and-run-a-nightwatch-test.html">
                Run your first test
              </a>
              <a class="footer-links regular16px neutral-white-color" href="<%= baseUrl %>/api/">
                API Reference
              </a>
              <a class="footer-links regular16px neutral-white-color" href="<%= baseUrl %>/guide/reference/settings.html">
                Config Settings
              </a>
            </div>
          </div>
        </div>
        <div class="footer-links-right">

          <span class="semibold24px neutral-white-color">
            Subscribe to Newsletter
          </span>
          <div class="email-section">
            <div class="email-section-top"></div>
            <div class="email-section-left"></div>
            <iframe loading="lazy" src="https://nightwatch.substack.com/embed" width="80%" height="125px" style="border-radius: 25px; background: #1B1B1B" id="substack"  frameborder="0" scrolling="no" title="nightwatch-substack"></iframe>
            <div class="email-section-bottom"></div>
            <div class="email-section-right"></div>
          </div>

          <div class="social-links">
            <a href="https://github.com/nightwatchjs/nightwatch" target="_blank">
              <img loading="lazy"  src="/images/images1/github.svg" alt="Github">
            </a>
            <a href="https://www.youtube.com/channel/UCWM6RQiITFc8dZ2l3fNpUbA" target="_blank">
              <img loading="lazy"  src="/images/images1/youtube.svg" alt="Youtube">
            </a>
            <a href="https://twitter.com/nightwatchjs" target="_blank">
              <img loading="lazy"  src="/images/images1/twitter.svg" alt="Twitter">
            </a>
            <a href="https://discord.com/invite/SN8Da2X" target="_blank">
              <img loading="lazy"  src="/images/images1/discord.svg" alt="Discord">
            </a>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="copyright-1">
          <img loading="lazy"  src="/images/images1/nightwatch-browserstack.svg" alt="nightwatch-browserstack" style="height: 40px;">
          <div class="footer-info">
            <p class="regular14px neutral-bluish-grey3">
              Nightwatch was established in 2014 and since 2021 it is actively maintained at <a href="https://browserstack.com" target="_blank" style="text-decoration: underline !important;">BrowserStack</a> with the help of all our <a href="https://github.com/nightwatchjs/nightwatch/graphs/contributors" target="_blank" style="text-decoration: underline !important;">contributors.</a>
            </p>
            <p class="regular14px neutral-bluish-grey3">
              © 2023 <a href="https://browserstack.com" target="_blank" style="text-decoration: underline !important;">BrowserStack</a> Limited • Code licensed under the <a rel="noreferrer" href="https://github.com/nightwatchjs/nightwatch/blob/main/LICENSE.md" target="_blank" style="text-decoration: underline !important;">MIT License.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>