<%
const {generateApiPages} = require('./generate-api-pages.js');
const path = require('path');

let commandName = path.basename(page.url, path.extname(page.url));
let commandDescr = '';

if (commandName === 'index') {
  commandName = '';
}

if (commandName) {
  const namespace = page.url.split('/').slice(2);
  namespace.pop();
  const commandNamespace = namespace.join('.');

  if (namespace.length) {
    commandName = `${commandNamespace}.${commandName}`;
  }

  commandDescr = `Complete API reference for the ${commandName} Nightwatch command/assertion.`;
  commandName = `${commandName} | API Reference | Nightwatch.js`;
}

const data = {
    version: Config.version,
    baseUrl: Config.baseUrl,
    section: 'api',
    pageContent: page.content,
    pageTitle: commandName ? commandName : (page.title || 'API Reference | Nightwatch.js'),
    pageDescription: commandDescr ? commandDescr : (page.description || 'Complete reference of the Nightwatch commands and assertions.'),
    pageImage: page.image || '/img/banners/nightwatch.jpg'
};
const apiData = await api;

generateApiPages(apiData, Config);
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("header", data) %>
    <link rel="canonical" href="<%- data.baseUrl + page.url %>"/>
</head>

<body>
<%- include("navbar", data) %>

<section id="api-container" class="secondary">
  <%-  include("sections/api", data) %>
</section>

<section id="index-container"></section>
<section id="guide-container" class="secondary"></section>
<section id="apimethod-container" class="secondary"></section>
<section id="about-container" class="secondary"></section>
<section id="blog-container" class="secondary"></section>
<section id="releases-container" class="secondary"></section>

<%- include("footer", data) %>
<%- include("scripts") %>
</body>
</html>